
.base-class {
  font-family: Verdana;
  letter-spacing: 0.2px;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}
.h1 {
  @extend .base-class;
  font-size: 32px;
  line-height: 42px;
}
.h2 {
  @extend .base-class;
  font-size: 20px;
  line-height: 28px;
}
.standard {
  @extend .base-class;
  font-size: 14px;
  line-height: 24px;
}
.label {
  @extend .base-class;
  font-size: 12px;
  line-height: 20px;
}
.button {
  @extend .base-class;
  font-size: 16px;
  line-height: 20px;
}
.input {
  @extend .base-class;
  font-size: 16px;
  line-height: 24px;
}
.helper {
  @extend .base-class;
  font-size: 12px;
  line-height: 20px;
}
.small {
  font-weight: 300;
}
.normal {
  font-weight: 400;
}
.medium {
  font-weight: 500;
}
.big {
  font-weight: 800;
}
.error{
  color: red;
}
.black{
  color: '#1a1717'
}