
@use '../styles/__index.scss';

.assistive-text-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}


.material-symbols-outlined {
  width: 16.67px;
  height: 16.67px;
  font-size: 16.67px;
  color: var(--primary-text-color);
  &.error {
    color: var(--error-text-color);
  }
}