.list-container {
  padding: 0;
  .element-content {
    border: none;
    background-color: transparent;
    width: 100%;
    cursor: pointer;
    text-align: left;
  }

  .list-element {
    display: flex;
    flex-direction: row;
    padding: 8px;
    justify-content: space-between;
    background-color: #fafafa;
    &:hover {
      background-color: #e8e8e8;
    }
  }
}
