:host {
    --primary-text-color: #1a1717;
    --secondary-text-color: #f6f2f7;
    --tertiary-text-color: #f6f2f7;
    --primary-background-color: #fafafa;
    --disabled-text-color: #5d585e;
    --disabled-background-color: #d0cdd1;
    --error-text-color: #e64e37;   
    --primary-background-color: white;
    --primary-purple: #600a80;
    --secondary-purple: #4f056b;
    --tertiary-purple: #3b064f;
    --quaternary-purple: #5d4e63;
}