:host {
  --primary-background: #ffffff;
  --primary-text: #1a1717;
  --secondary-text: #ffffff;
  --tertiary-text: #696565;
  --primary: #600a80;
  --primary70: #600a80b2;
  --secondary: #deb9ec;
  --disabled: #d0cdd1;
  --error-text: #e64e37;
  --blue: #0900ff;
}
