@use '../styles/__index.scss';

.image-uploader {
  border: none;
  display: flex;
  flex-direction: column;
  background: transparent;
  height: fit-content;
  width: fit-content;
  gap: 16px;
  img {
    width: 250px;
    height: 250px;
  }
  input {
    width: 250px;
  }
  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 250px;
    height: 250px;
    border-radius: 8px;
    border: 1px dashed var(--primary-text);
    .material-symbols-outlined {
      font-size: 75px;
    }
  }
}
