@use '../styles/__index.scss';

button {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  font-family: 'Open Sans', sans-serif;
  height: 50px;
  border: none;
  background: transparent;
  font-size: 16px;
  font-weight: 500;
  border-radius: 12px;
  cursor: pointer;
  padding: 0 12px;

  background-color: var(--primary70);
  color: var(--secondary-text);

  &:hover {
    background-color: var(--primary);
  }

  &:disabled {
    background-color: var(--disabled);
    color: var(--primary-text);
    border: none;
    cursor: default;
  }

  &:focus-visible {
    outline: 1px solid var(--blue);
  }
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 8px;
}

.small {
  height: 40px;
  font-size: 14px;
  line-height: 20px;
}

.standard {
  height: 50px;
  font-size: 16px;
  line-height: 24px;
}
