@use '../styles/__index.scss';

.base-class {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.2px;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}
.h1 {
  @extend .base-class;
  font-size: 32px;
  line-height: 42px;
}
.h2 {
  @extend .base-class;
  font-size: 20px;
  line-height: 28px;
}
.standard {
  @extend .base-class;
  font-size: 14px;
  line-height: 24px;
}
.input {
  @extend .base-class;
  font-size: 14px;
  line-height: 16px;
}
.helper {
  @extend .base-class;
  font-size: 12px;
  line-height: 20px;
}
.small {
  font-weight: 300;
}
.regular {
  font-weight: 400;
}
.medium {
  font-weight: 500;
}
.big {
  font-weight: 600;
}
.extra {
  font-weight: 800;
}
.error {
  color: var(--error-text);
}
.default {
  color: var(--primary-text);
}
.disabled {
  color: var(--primary-text);
}
